image: python:${PYTHON_VERSION}

stages:
  - test
  - deploy

before_script:
  - python --version
  - pip install poetry
  - poetry install

.unit-tests: &unit-tests
  stage: test
  script:
    - poetry run python3 -m pytest -v --cov=flapy --cov-branch --cov-report html:cov_html --cov-report=term-missing tests/
  artifacts:
    paths:
      - cov_html

unit-tests:python-3.8:
  <<: *unit-tests
  variables:
    PYTHON_VERSION: '3.8-buster'

unit-tests:python-3.10:
  <<: *unit-tests
  variables:
    PYTHON_VERSION: '3.10.1'

.nightly-tests:
  only:
    - schedules
  stage: test
  before_script:
    - python --version
    - pip install poetry
    - poetry install
    - poetry add --dev pytest-random-order
  script:
    - for ((i=1; i<=10; i++)); do echo "test run ${i}\n"; poetry run python3 -m pytest -q --cov=flaky_analysis --cov-branch --random-order --random-order-bucket=global ; done

nightly-tests:python-3.8:
  extends: .nightly-tests
  variables:
    PYTHON_VERSION: '3.8-buster'

.flake8:
  stage: test
  image: python:3.8-buster
  script:
    - poetry run flake8 .
.mypy:
  stage: test
  image: python:3.8-buster
  script:
    - poetry run mypy flapy 

.pylint:
  stage: test
  image: python:3.8-buster
  script:
    - poetry run pylint flapy 

.black:
  stage: test
  image: python:3.8-buster
  script:
    - poetry run black --check .

pages:
  stage: deploy
  variables:
    PYTHON_VERSION: '3.8-buster'
  dependencies:
    - unit-tests:python-3.8
  script:
    - mv cov_html/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master
